<body>
 



  <div class="container rounded p-3 shadow bg-white text-center container-rounded">
    <h3 class="mb-3">Sign In</h3>
    <form id="signin">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="d-grid gap-2 mb-3">
        <button type="submit" class="btn btn-primary">Sign In</button>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</body>

</form>
<ul class="list-group">
  {{#each results as | artist | }}


  </form>
  <div class="d-flex w-100">
    <ul class="list-group">
      <h2 class="list-group-item text-center font-weight-bold">Artist</h2>
      {{#each artists as | artist | }}

      <button class="list-group-item artist-button">
        <p class="inline text-left">{{artist.name}}</p>
      </button>

      {{/each}}
    </ul>
    <ul class="list-group">
      <h2 class="list-group-item text-center font-weight-bold">Song Name</h2>
      {{#each tracks as | track | }}
      <button class="list-group-item track-button">
        <p class="inline text-left" data-artist={{track.artist}}>{{track.name}}</p>
      </button>

      {{/each}}
    </ul>
  </div>
  </div>
  </div>
  </div>




  <div class="bs_hero-container bs_hero_layout_4">

    <div class="container col-xl-10 col-xxl-10 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="d-flex">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{artist.image}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{artist.name}}</h5>
              <p class="card-text">{{artist.bio.summary}}</p>


            </div>
          </div>
          {{#if track}}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{track.name}}</h5>
              <p class="card-text">{{track.playcount}}</p>
              <p class="card-text">{{track.summary}}</p>

              <button type="button" class="btn btn-outline-secondary btn-lg px-5 text-black">Sign In</button>
              <button type="button" class="btn btn-primary btn-lg px-4  ">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  {{/if}}
  </div>


  </div>
  {{/each}}
  </div>



  <script src="/js/login.js" type="text/javascript" defer></script>`