<h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi odio similique voluptatibus debitis veniam enim
  nesciunt, minima dolorem voluptas eos reprehenderit, quasi minus! Rem explicabo sint in fugit, at voluptates.
</h1>

{{!-- {{#each song as |songs| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="song note">🎵</span>
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!s
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{song}}
    </p>
  </div>
</div>
{{/each}} --}}