<body>

  <section class="section">
    <div class="container">
      <div class="box has-background-white has-shadow">
        <h3 class="title is-3 has-text-centered mb-5">Sign In</h3>
        <form id="userform">
          <div class="field mb-5">
            <label for="email" class="label">Email address</label>
            <div class="control">
              <input type="email" class="input" id="email" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="field mb-5">
            <label for="password" class="label">Password</label>
            <div class="control">
              <input type="password" class="input" id="password">
            </div>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button type="submit" onclick="signInCall(event)" class="button is-primary">Sign In</button>
            </div>
            <div class="control">
              <button type="submit" onclick="register(event)" class="button is-link">Register</button>
            </div>
          </div>
        </form>
      </div>

      {{#if track}}
      <div class="box has-background-white has-shadow">
        <div class="columns">
          <div class="column is-one-third">
            <figure class="image">
              <img src={{artist.image}} alt="artist image">
            </figure>
          </div>
          <div class="column is-two-thirds">
            <h2 class="title is-2">{{artist.name}}</h2>
            <p>{{artist.bio.summary}}</p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h2 class="title is-2">{{track.name}}</h2>
            <p>{{track.playcount}}</p>
            <p>{{track.summary}}</p>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </section>



</body>

<script src="/js/login.js" type="text/javascript" defer></script>`